@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$color-white: #eaeaea;
$color-black: #252a34;
$red: #ff2e63;
$blue: #08d9d6;

// resting element
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  a {
    color: inherit;
    -webkit-tap-highlight-color: transparent;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  min-height: 600px;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  font-family: sans-serif;
  font-size: 16px;
  background-color: $color-white;
  color: $color-black;
  position: relative;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > main {
    height: 100%;
    width: min(calc(100% - 16px), calc(800px + 25%));
    margin: 0 auto;
  }
}

// Header =====================================>
header {
  width: 100%;
  z-index: 1;
  background-color: $color-black;
  color: $color-white;

  .header-container {
    height: 40px;
    width: min(calc(100% - 16px), calc(800px + 25%));
    margin: 8px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-brand {
    width: 200px;
    font-weight: 500;
    font-size: x-large;
    letter-spacing: 0.5px;
    cursor: pointer;

    span {
      color: $red;
      font-weight: 300;
    }
  }
  .header-menuButton {
    display: none;
    height: 28px;
    width: 36px;
    position: relative;
    cursor: pointer;

    span {
      border-radius: 4px;
      transition: 0.3s;
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: $color-white;
    }
    span:nth-child(1) {
      top: 0;
    }
    span:nth-child(2) {
      top: 50%;
      translate: 0 -50%;
    }
    span:nth-child(3) {
      bottom: 0;
    }
    &.opened {
      span:nth-child(1) {
        rotate: (45deg);
        top: 50%;
        translate: 0 -50%;
      }
      span:nth-child(2) {
        scale: 0;
      }
      span:nth-child(3) {
        rotate: (-45deg);
        top: 50%;
        translate: 0 -50%;
      }
    }
  }
  .header-menu-list-mobile {
    position: absolute;
    background-color: $color-black;
    top: 0;
    right: 0;
    height: 100%;
    width: min(600px, 100%);
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index: -1;

    transition: 0.5s;
    translate: 100% 0%;
    &.opened {
      transition: 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
      translate: 0% 0%;
    }

    li {
      width: 100%;
      a {
        height: 60px;
        width: 100%;
        padding-right: 64px;
        position: relative;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        cursor: pointer;
        z-index: 2;
        transition: 0.8s 0.1s;
        border-radius: 2px;
        border-top: 1px solid transparentize($color-white, 0.9);
        background: rgb(40, 44, 54);
        background: linear-gradient(
          270deg,
          transparentize($color-white, 0.94) 0%,
          transparentize($color-white, 0.999) 40%,
          transparentize($color-white, 1) 100%
        );

        &:last-child {
          border-bottom: 1px solid transparentize($color-white, 0.9);
        }
        &::before {
          content: "";
          height: 100%;
          width: 0%;
          position: absolute;

          left: 0%;
          z-index: -1;
          transition: 0.2s linear;
          background-color: $red;
        }
        &:hover::before {
          transition: 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
          width: 100%;
        }
      }
    }
  }
  .header-menu-list-desktop {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-right: 200px;
    li {
      a {
        padding: 8px 16px;
        position: relative;
        color: $color-white;
        letter-spacing: 1px;
        font-size: larger;
        transition: 0.5s;

        &::before {
          content: "";
          height: 4px;
          width: 0%;
          position: absolute;

          bottom: 0;
          left: 0;
          transition: 0.5s;
          background-color: $red;
        }
        &:hover::before {
          width: 100%;
        }
        &:hover {
          color: $red;
        }
      }
    }
  }
}

// Home =====================================>
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  h2 {
    color: $red;
  }
  div {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      height: 36px;
      width: 200px;

      border-radius: 4px;
      background-color: $red;
      color: $color-white;

      &:hover {
        border: 1px solid $red;
        background-color: $color-white;
        color: $red;
      }
    }
  }
}

// bassins =====================================>
#bassins {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 auto;

  .input {
    display: flex;
    align-items: center;
    justify-content: center;

    .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
      justify-content: center;
      align-items: baseline;

      /* form starting stylings ------------------------------- */
      .group {
        position: relative;
        max-width: 300px;

        input {
          font-size: 18px;
          padding: 10px 10px 10px 5px;
          display: block;
          width: 100%;
          border: none;
          border-bottom: 1px solid #757575;
          background-color: transparent;
        }
        input:focus {
          outline: none;
        }

        /* LABEL ======================================= */
        label {
          color: #999;
          font-size: 18px;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 5px;
          top: 10px;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }

        /* active state */
        input:focus ~ label,
        input:valid ~ label {
          top: -20px;
          font-size: 14px;
          color: $red;
        }

        /* BOTTOM BARS ================================= */
        .bar {
          position: relative;
          display: block;
          width: 100%;
        }
        .bar:before,
        .bar:after {
          content: "";
          height: 2px;
          width: 0;
          bottom: 1px;
          position: absolute;
          background: $red;
          transition: 0.2s ease all;
          -moz-transition: 0.2s ease all;
          -webkit-transition: 0.2s ease all;
        }
        .bar:before {
          left: 50%;
        }
        .bar:after {
          right: 50%;
        }

        /* active state */
        input:focus ~ .bar:before,
        input:focus ~ .bar:after {
          width: 50%;
        }

        /* HIGHLIGHTER ================================== */
        .highlight {
          position: absolute;
          height: 60%;
          width: 100px;
          top: 25%;
          left: 0;
          pointer-events: none;
          opacity: 0.5;
        }

        /* active state */
        input:focus ~ .highlight {
          -webkit-animation: inputHighlighter 0.3s ease;
          -moz-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
        }

        /* ANIMATIONS ================ */
        @-webkit-keyframes inputHighlighter {
          from {
            background: #5264ae;
          }
          to {
            width: 0;
            background: transparent;
          }
        }
        @-moz-keyframes inputHighlighter {
          from {
            background: #5264ae;
          }
          to {
            width: 0;
            background: transparent;
          }
        }
        @keyframes inputHighlighter {
          from {
            background: #5264ae;
          }
          to {
            width: 0;
            background: transparent;
          }
        }
      }
    }
  }
  .output {
    height: min(300px, 100%);
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;

      h1 {
        color: $red;
      }
    }
  }
}

// pompage =====================================>
#pompage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  /* form starting stylings ------------------------------- */
  .group {
    position: relative;
    width: min(100%, 300px);

    input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #757575;
      background-color: transparent;
    }
    input:focus {
      outline: none;
    }

    /* LABEL ======================================= */
    label {
      color: #999;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    /* active state */
    input:focus ~ label,
    input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: $red;
    }

    /* BOTTOM BARS ================================= */
    .bar {
      position: relative;
      display: block;
      width: 100%;
    }
    .bar:before,
    .bar:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $red;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .bar:before {
      left: 50%;
    }
    .bar:after {
      right: 50%;
    }

    /* active state */
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
      width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }

    /* active state */
    input:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
      from {
        background: #5264ae;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @-moz-keyframes inputHighlighter {
      from {
        background: #5264ae;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
    @keyframes inputHighlighter {
      from {
        background: #5264ae;
      }
      to {
        width: 0;
        background: transparent;
      }
    }
  }
  .result {
    padding: 16px;
    width: min(100%, 300px);
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 255, 0.3);
  }
}

// about =====================================>
#about {
  display: flex;
  align-items: center;
  justify-content: center;

  .container{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    h2{
      color: $red;
    }
    h1{
      font-weight: 600;
    }

    p{
      text-align: center;
    }

    .social{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
  
      a{
        height: 48px;
        width: 48px;
        background-color: $color-black;
        border-radius: 50%;
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        &:hover{
          background-color: $red;
          scale: 1.1;
        }
      }
    }
  }
}

// notFound =====================================>
#notFound {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .error-image{
    height: 400px;
    max-width: 100%;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s;
    margin-top: 16px;
    height: 36px;
    width: 200px;

    border-radius: 4px;
    background-color: $red;
    color: $color-white;

    &:hover {
      border: 1px solid $red;
      background-color: $color-white;
      color: $red;
    }
  }
}

// Responsive ===================================>
@media screen and (max-width: 900px) {
  #root {
    header {
      ul.header-menu-list-desktop {
        display: none;
      }
      .header-menuButton {
        display: block;
      }
    }
  }

  #bassins {
    flex-direction: column;
  }
}
